<section class="product-details">
        <div class="card">
            <h1>{{msg}}</h1>
        </div> 
        <div class="card">
            {{#each outOfStockProd}}
            <h3>{{this}}</h3>
            {{/each}}
        </div> 
</section>    
