
   <!-- <nav class="navbar"></nav>
    <script src="js/nav.js"></script> -->
    <header class="home-page-header">
        <div class="content">
            <img src="images/logo.png" class="logo" alt="home page image">
            <p class="sub-heading">Best Bakery is here</p>
        </div>
    </header>
        