<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/card.css">
    <script src="js/shoppingcart.js"></script>
    <title>Pastries page</title>
</head>
<body>
    <nav class="navbar"></nav>
    <script src="js/nav.js"></script>
    
    <section class="product-details">
        <div class="card">
            <img src="images/croissant.png" alt="croissant" style="width:30%">
            <h1>Croissant</h1>
            <p class="price">$3.50</p>
            <p>Traditional butter croissant</p>
            <label for="croissant_quantity">Quantity:</label>
            <select name="croissant_quantity" id="croissant_quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <p><button onclick="addToCart('item1','Croissant','Traditional butter croissant', '3.50', value)">Add to Cart</button></p>
        </div> 
        <div class="card">
            <img src="images/tiramisu.png" alt="tiramisu" style="width:35%">
            <h1>Tiramisu</h1>
            <p class="price">$5.50</p>
            <p>Classical creamy triamisu</p>
            <label for="tiramisu_quantity">Quantity:</label>
            <select name="tiramisu_quantity" id="tiramisu_quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <p><button onclick="addToCart('item2','Tiramisu','Classical creamy triamisu', '5.50','2')">Add to Cart</button></p>
        </div> 
        <div class="card">
            <img src="images/donut.png" alt="donut" style="width:27%">
            <h1>Donut</h1>
            <p class="price">$3.00</p>
            <p>Strawberry cream donut</p>
            <label for="donut_quantity">Quantity:</label>
            <select name="donut_quantity" id="donut_quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <p><button>Add to Cart</button></p>
        </div> 
        <div class="card">
            <img src="images/chocolatecake.png" alt="chocolate cake" style="width:40%">
            <h1>Chocolate Cake</h1>
            <p class="price">$6.30</p>
            <p>Creamy chocolate cake</p>
            <label for="chococake_quantity">Quantity:</label>
            <select name="chococake_quantity" id="chococake_quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <p><button>Add to Cart</button></p>
        </div> 
        
</body>
</html>