
/** Set the properties of table **/
.table {
   /* table-layout: auto; */
    margin-left: 15%;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /**
    width:50%;
    font-family:'Courier New', Courier, monospace;
    border-collapse:collapse;
    width:100%;
    **/
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(156, 163, 163);
    color: rgb(98, 101, 102);
  }

  td {
    border: .2px solid rgb(129, 123, 123);
    padding: 10px;
    text-align: center;
  }

  tr:hover {background-color: #ddd;}
  
/**
  th{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color: var(--greencolor);
    color: white;
  }
  
**/



