table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: blue;
    width: 80%;
    margin: 100px auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  